{{%extends"inicio.html"%}}
{% load static %}
{%load  css %}
<link rel="stylesheet" href="{%static 'css/form.css %}"/>
{% endblock %} 
{% block  titulo %} Departamento {% endblock %}
<!--seccion para añadir los controles del formulario-->
<!DOCTYPE html>



 <body>
   <section class="form-container"></section>
    <div class="form-group">
        <h1>Formulario de Departamentos</h1>

    </div>
    <form id="form-departamento" class="form">
      <div class ="form-group">
          <label for="descripcion"></label>      </div>
    </form>
   </section>
 </body>